<div class="container">
  <div class="row">
  <h1>Welcome to <span class="rainbow-text">Prospect</span></h1>

  <p>
    Prospective, prospectus, or prospector (...looking for ...gems)?
  </p>

  <p>
    We dig <span class="ruby">Ruby</span> and we dig elections! This is the voting module for <a href="https://columbusrb.com" target="_blank">Columbus Ruby Brigade.</a><br>
    You can register as a candidate, view candidates' posted information, and vote (when it's open).
  </p>
  <p>
    Log in with your Slack account. You need to join CRB's Slack in order to run as a candidate and vote.
  </p>
  </div>
</div>