@import "materialize/components/color-variables";
// variable changes MUST go here for styling
$pink-1: rgb(187,19,88);
$pink-2: rgb(162,20,93);
$orange-1: rgb(244,74,31);
$orange-2: rgb(228,64,32);
$yellow-1: rgb(238,143,1);
$yellow-2: rgb(250,99,15);
$blue-1: rgb(16,66,242);
$blue-2: rgb(4,110,201);
$purple-1: rgb(113,47,234);
$purple-2: rgb(87,41,223);
$logo-gray: #494A50;
$dark-gray: #242427;
$link-color: #7D7D84 !default;
$primary-color: rgb(238,143,1) !default;
$secondary-color: rgb(162,20,93) !default;
@import "materialize";
@import "materialdesignicons";



body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  background: linear-gradient(145deg, $logo-gray, $dark-gray);
  height: 64px !important;
  .shrink-logo {
    max-width: 100px;
    padding-top: .75em;
  }
  .nav-padding {
    padding-left: 1em;
    padding-right: 1em;
  }
  .nav-wrangler {
    display: inline-block !important;
  }
  ul {
    li {
      float: right;
    }
  }
}

footer {
  background: linear-gradient(145deg, $logo-gray, $dark-gray);
  padding-top: 1em;
  position: relative;
  bottom: 0 !important;
  height: inherit;
  width: 100%;
  z-index: 1;
  .row .col {
    float: left !important;
  }
}

.button_to {
  .btn {
    padding: 0px;
  }
  input {
    color: white;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
  }
}

.candidate-picture {
  margin: 0 auto;
  background-color: $blue-2;
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 250px;
  padding: 15px;
  margin-top: 22px;
  border-radius: 50%;
  border: 5px white solid;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

div {
  .btn {
    background: linear-gradient(22deg, $blue-1, $purple-1);
  }
  .btn-vote-add {
    background: linear-gradient(122deg, $purple-2, $purple-1);
  }
  .btn-vote-remove {
    background: linear-gradient(166deg, $orange-2, $orange-1);
  }
  .card-container {
    column-width: 22rem;
    -moz-column-width: 22rem;
    -webkit-column-width: 22rem;
    column-gap: 1rem;
    -moz-column-gap: 1rem;
    -webkit-column-gap: 1rem;
  }
  .card-panel {
    display: inline-block;
    padding: 0 !important;
    width: 100%;
  }
  .card {
    min-width: 20em;
    .professional-grade {
      display: block;
      font-size: .89em;
      min-height: 2em;
      .mdi-bee::before{
        font-size: 16pt;
      }
    }
    .center-button {
      display: flex;
      justify-content: space-around;
      min-width: 200px;
    }
    .card-title {
      margin: 0 auto;
      color: black;
      font-weight: 600;
    }
  }
}


.margin-box {
  margin-top: 2em;
  margin-bottom: 4em;
}

.extra-margin {
  margin-top: 1.75em;
}

h1 {
  color: $logo-gray;
}

.row .col{
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}

.rainbow-text {
  background: linear-gradient(22deg, $orange-1, $yellow-1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.ruby {
  background: linear-gradient(to right, $pink-1, $pink-2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yellow-gradient-text {
  background: linear-gradient(to right, $yellow-1, $yellow-2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yellow-gradient {
  background: linear-gradient(to right, $yellow-1, $yellow-2);
}

.mdi:before {
  display: inherit;
}

.mdi-arrow-left::before {
  font-weight: 800;
}

@media (prefers-color-scheme: dark) {
  body {
  background: #0E0E0F;
  color: #eee;
  }
  nav {
    background: linear-gradient(145deg, darken($logo-gray, 30%), darken($dark-gray, 30%));
  }
  footer {
      background: linear-gradient(145deg, darken($logo-gray, 30%), darken($dark-gray, 30%));
  }
  h1 {
    color: lighten($logo-gray, 20%);
  }
  .card {
    background-color: #141414;
  }
  .candidate-picture {
    background-color: darken($blue-2, 20%);
    border-color: #0E0E0F;
  }
  input {
    color: #ddd;
  }
  textarea {
    color: #ddd;
  }
  div {
    .btn {
      background: linear-gradient(22deg, darken($blue-1, 20%), darken($purple-1, 20%));
    }
    .btn-vote-add {
      background: linear-gradient(122deg, darken($purple-2, 20%), darken($purple-1, 20%));
    }
    .btn-vote-remove {
      background: linear-gradient(166deg, darken($orange-2, 10%), darken($orange-1, 10%));
    }
    .rainbow-text {
      background: linear-gradient(22deg, darken($orange-1, 10%), lighten($yellow-1, 15%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 800;
    }
  }
  .ruby {
    background: linear-gradient(to right, lighten($pink-1, 20%), lighten($pink-2, 20%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .yellow-gradient-text {
    background: linear-gradient(to right, lighten($yellow-1, 15%), lighten($yellow-2, 15%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .yellow-gradient {
    background: linear-gradient(to right, lighten($yellow-1, 15%), lighten($yellow-2, 15%));
  }

}

@media (prefers-color-scheme: light) {
  body {
    background: white;
    color: #333;
  }
}